* {
  box-sizing: content-box;
}
.forest {
  position: relative;
  width: 300px;
  height: 300px;
  border: solid yellow 3px;
  background-color: chartreuse;
}

.hunters {
  position: relative;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  border: solid rgb(41, 20, 226) 3px;
  background-color: rgb(14, 230, 212);
  overflow-y: auto;
}
.rabbitImg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  /* background-color: brown;*/
  background-image: url("../img/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all 300ms ease-in 50ms;
}
/*.rabbitPhoto {
  margin: 0 auto;
  height: 100%;
}*/

@keyframes rabbitAnimation {
  from {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: brown;
    background-image: none;
  }

  75% {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 20px;
    background-color: rgb(245, 8, 8);
    background-image: none;
  }
  to {
    /*transform: scale(.2);*/
    width: 2px;
    height: 2px;
    /*margin-top: -20px;
    margin-left: -20px;*/
    border-radius: 1px;
    background-color: brown;
    background-image: none;
  }
}
.killed {
  animation-name: rabbitAnimation;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.rabbit-controles,
.hunter-controles {
  display: inline-block;
  padding: 9px;
  width: 120px;
  border: solid black 1px;
  margin-top: 10px;
  text-align: center;
}
p {
  margin: 2px;
}
.rabbit-controles {
  margin-right: 20px;
}
.hunterImg {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 2px blue;
  margin: 3px;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
}
.winner {
  border-color: red;
}
